Q1. What is a database? Differentiate between SQL and NoSQL databases.

:- Structured query language (SQL) is a programming language for storing and processing information in a relational database. A relational database stores information in tabular form, with rows and columns representing different data attributes and the various relationships between the data values.

|SQL|NoSQL|
|:-:|:-:|
|RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)|Non-relational or distributed database system.|
|These databases have fixed or static or predefined schema|They have dynamic schema.|
|These databases are not suited for hierarchical data storage.|These databases are best suited for hierarchical data storage.|
|These databases are best suited for complex queries|These databases are not so good for complex queries|
|Vertically Scalable|Horizontally scalable|
|Follows ACID property|Follows CAP(consistency, availability, partition tolerance)|
|Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc|Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc|

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

:- DDL means Data Defination Langauge. 
* Create - It is used to create database and its object. Eg :- Create Database db_name;
* Drop - It is used to delete database objects. Eg :- Drop Table Tab_name;
* Alter - It is used to alter the structure of database. Eg :- Alter Table Tab_name add col_name='xyz';
* Truncate - It is used to remove all records from a table, including all spaces allocated for the records are removed.
              Eg:- Truncate Table tab_name;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

:- DML - Data Manupulation Langauge.

* Insert - It is used to insert a data into a table. Eg :- insert into tab_name values (1, "abc", 10/02/2023);
* Update - It is used to modify the existing records in a table. Eg :- Update tab_name set col_name='pqr' where col1=2;
* Delete - It is used to delete a record in a table. Eg :- Delete from tab_name where col_v=3;

Q4. What is DQL? Explain SELECT with an example.

:- DQL - Data Query Langauge.

* The SELECT statement is used to select data from a database.The data returned is stored in a result table, called the result-set.

* Eg :- Select * from Tab_name; --> This will gives us all records present in that Table.

Q5. Explain Primary Key and Foreign Key.

* The PRIMARY KEY constraint uniquely identifies each record in a table. Primary keys must contain UNIQUE values, and cannot contain NULL values.A table can have only ONE primary key; and in the table, this primary key can consist of single or multiple columns (fields).

* The FOREIGN KEY constraint is used to prevent actions that would destroy links between tables.A FOREIGN KEY is a field (or collection of fields) in one table, that refers to the PRIMARY KEY in another table.The table with the foreign key is called the child table, and the table with the primary key is called the referenced or parent table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb = mysql.connector.connect(
        host="localhost",
        user="abc",
        password="password"
)

mycursor = mydb.cursor()

mycursor.execute({"Show Database"})

mydb.close()


* cursor() --> It is an object that is used to make the connection for executing SQL queries.

* exceute() --> It is basically used to run the query and show us result which is stored in variable.

Q7. Give the order of execution of SQL clauses in an SQL query.

* The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.