## TypeCasting

In [1]:
a=10
type(a)

int

In [2]:
int('12')

12

In [3]:
str(246)

'246'

In [4]:
int(35.2)

35

In [7]:
str(1+2j)

'(1+2j)'

### Print Formating

In [8]:
print('Hello !!')

Hello !!

In [19]:
Name="Yash"
Age=23
print("My Name is",Name)

My Name is Yash

In [16]:
print(f"My name is {Name}")

My name is Yash

In [23]:
# Placeholder

print("My Name is {n1} and My age is {a1} ".format(n1=Name,a1=Age))

My Name is Yash and My age is 23

In [26]:
print("My Name is {} and My age is {}".format(Name,Age))

My Name is Ram and My age is 23

In [22]:
for i in Name:
    print(i,end=" ")

Y a s h

In [24]:
Name='Ram'
DOB='01/04/1776'
Address="B2 floor DigitalZone"

In [25]:
print("{n} is born at {d} and his Addreess is {a}".format(a=Address,d=DOB,n=Name))

Ram is born at 01/04/1776 and his Addreess is B2 floor DigitalZone

## Control Flow

### Decision Making Statements.

* if
* if-else
* if-elif-else
* Neisted if
* single stat suites

In [27]:
"""
Task
Given an integer, n, perform the following conditional actions:

If n is odd, print Weird
If n is even and in the inclusive range of 2 to 5, print Not Weird
If n is even and in the inclusive range of 6 to 20, print Weird
If n is even and greater than 20, print Not Weird

"""

'\nTask\nGiven an integer, , perform the following conditional actions:\n\nIf  is odd, print Weird\nIf  is even and in the inclusive range of  to , print Not Weird\nIf  is even and in the inclusive range of  to , print Weird\nIf  is even and greater than , print Not Weird\n\n'

In [30]:
n=int(input().strip())
if n%2==0:
        if 2<=n<=5:
            print("Not Weird")
        elif 6<=n<=20:
            print("Weird")
        else:
            print("Not Weird")
else:
    print("Weird")

 5

Weird

In [33]:
m=int(input())
for i in range(1,m+1):
    print(i,end=" ")

 15

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15

In [4]:
age=int(input())
if 18<=age<=45:
    print("You are young blood!")
else:
    print("You are old blood!")

 23

You are young blood!

In [9]:
product=int(input())
if product<=1000:
    product=product*0.7
    print(product,"$")
else:
    product=product*0.8
    print(product,"$")

 1800

1440.0 $

* pro=pro-(pro*30)/100=pro*70/100=pro*0.7

In [11]:
#Comparision Operator
ch1=input()
if ch1=="Sham":
    print("Name:",ch1)
elif ch1=="RAM":
    print("Name:",ch1)
else:
    print("Name:",ch1)

 Sham

Name: Sham

In [15]:
# Single statments suites:-

pen=int(input())
if pen<10:print("The price is less!!")
else:
    print("The price is High!!!")

 7

The price is less!!

In [ ]:
for i in range(1,5):
    print(i)

## Loop Statements
1. While
2. For
3. nested loops
4. control loop (continue, break, pass)

In [4]:
# while loop
age=int(input())
while age<18:
    print("You are not eligible because your age is:",age)
    age=age+1
    

print("You are eligible now because your age is:",age)

 10

You are not eligible because your age is: 10
You are not eligible because your age is: 11
You are not eligible because your age is: 12
You are not eligible because your age is: 13
You are not eligible because your age is: 14
You are not eligible because your age is: 15
You are not eligible because your age is: 16
You are not eligible because your age is: 17
You are eligible now because your age is: 18

In [1]:
print("Hi")

Hi

#### Python Keywords: An Introduction
* Value Keywords: True, False, None.
* Operator Keywords: and, or, not, in, is.
* Control Flow Keywords: if, elif, else.
* Iteration Keywords: for, while, break, continue, else.
* Structure Keywords: def, class, with, as, pass, lambda.
* Returning Keywords: return, yield.
* Import Keywords: import, from, as.

In [2]:
Cash=int(input())
while Cash!=0:
    print("You have {} this amount in your Bank !".format(Cash))
    Cash=Cash-100
print("Add more Money in your account")

 500

You have 500 this amount in your Bank !
You have 400 this amount in your Bank !
You have 300 this amount in your Bank !
You have 200 this amount in your Bank !
You have 100 this amount in your Bank !
Add more Money in your account

In [7]:
# For Loop
l=[2,5,8,"Ram",4,'Sham']

for i in l:
    print(i,end=" ")

2 5 8 Ram 4 Sham

In [8]:
l[3]

'Ram'

In [12]:
Table=int(input("You can see the below table of :"))
for i in range(1,11):
    val=i*Table
    print(val)

You can see the below table of : 35

35
70
105
140
175
210
245
280
315
350

In [13]:
# Nested loops

range(1,10)

range(1, 10)

In [16]:
for i in range(1,21):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [2]:
# Patterns (Right angle triangle)
n=int(input())

for i in range(0,n):
    for j in range(0,i+1):
        print('*',end="")
    print('\r')

 7

*
**
***
****
*****
******
*******

In [3]:
# Equilateral triangle

n=int(input())
k=n-1

for i in range(0,n):
    for j in range(0,k):
        print(end=" ")
        
    k=k-1
    
    for j in range(0,i+1):
        print('* ',end='')
    print('\r')

 5

    *
   * *
  * * *
 * * * *
* * * * *

In [6]:
# Loop Control
## Continue

l=["Circle","Triangle","Square","Rhombus","Rectangle"]
for i in l:
    if i=="Square":
        print("You have Square")
        continue
    print(i)

Circle
Triangle
You have Square
Rhombus
Rectangle

In [7]:
## Break

l=["Circle","Triangle","Square","Rhombus","Rectangle"]
for i in l:
    if i=="Square":
        print("You have Square")
        break
    print(i)

Circle
Triangle
You have Square

In [9]:
## pass

l=["Circle","Triangle","Square","Rhombus","Rectangle"]
for i in l:
    if i=="Square":
        pass
    print(i)

Circle
Triangle
Square
Rhombus
Rectangle